.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") PragmaticPageGenerator
      .container.nav-collapse
        %ul.nav
          %li= link_to "Link 1", "/path1"
          %li= link_to "Link 2", "/path2"
          %li= link_to "Link 3", "/path3"

.container-fluid

  .row-fluid
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header Sidebar
          %li= link_to "Link 1", "/path1"
          %li= link_to "Link 2", "/path2"
          %li= link_to "Link 3", "/path3"
    .span9
      = yield

  %footer
    %p &copy; Company 2012